@charset "UTF-8";
body { overflow-x: hidden; overflow-y: scroll; width: 100%; color: #333; font-size: 14px; line-height: 1.8; }

body, dd, dl, dt, form, h1, h2, h3, h4, h5, li, ol, p, ul { margin: 0; padding: 0; }

li, ol, ul { list-style: none; }

img { max-width: 100%; border: none; }

a { color: #333; }

a:hover { text-decoration: none; color: #4b2622; }

input, textarea, select, * { outline: none; }

.text-center { text-align: center; }

.text-left { text-align: left; }

.text-right { text-align: right; }

.nowarp { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

.line2, .line4, .line3 { text-overflow: -o-ellipsis-lastline; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; line-clamp: 2; -webkit-box-orient: vertical; }

.line3 { -webkit-line-clamp: 3; line-clamp: 3; }

.line4 { -webkit-line-clamp: 4; line-clamp: 4; }

.flex { display: flex; flex-wrap: wrap; }

.flex-center { align-items: center; justify-content: center; }

.hidden { display: none; }

.w100 { width: 100%; max-height: 100%; }

.maxh100 { max-height: 100%; }

.fon36 { font-size: 36px; }

.fon32 { font-size: 32px; }

.color4b { color: #4b2622; }

.bg4b { background: #4b2622; }

.fon30 { font-size: 30px; }

.fon26 { font-size: 26px; }

.fon24 { font-size: 24px; }

.fon22 { font-size: 22px; }

.fon20 { font-size: 20px; }

.fon18 { font-size: 18px; }

.fon16 { font-size: 16px; }

.fon14 { font-size: 14px; }

.fon12 { font-size: 12px; }

.trans { transition: 0.3s linear all; }

.show { display: block !important; }

.hide { display: none !important; }

.positionr { position: relative; }

.positionb { position: absolute; width: 100%; height: 100%; left: 0; top: 0; }

.visible-hidden { visibility: hidden; }

.color9 { color: #999; }

.color6 { color: #666; }

.color3 { color: #333; }

.padding40 { padding-bottom: 40px; padding-top: 40px; }

.overflow-hidden { overflow: hidden; }

.fonar { font-family: Arial, Helvetica, sans-serif; }

.text-uppcase { text-transform: uppercase; }

/*图片翻转动画*/
.transy { cursor: pointer; }

.transy img, .transy i { transition: ease-in-out 0.3s; }

.transy:hover img, .transy:hover i { transform-style: preserve-3d; transform: rotateY(180deg); }

/*图片放大*/
.scale { overflow: hidden; }

.scale img, .scale .scales div { transition: 0.5s linear all; }

.scale:hover img, .scale:hover .scales div { transform: scale(1.1); }

.swiper-slide { cursor: pointer; }

.flex-nowarp { flex-wrap: nowrap; }

.flex-end { align-items: center; justify-content: flex-end; }

.flex-al-center { align-items: center; }

.button-l { display: block; line-height: 48px; border: none; background: 0 0; color: inherit; vertical-align: middle; position: relative; z-index: 1; -webkit-backface-visibility: hidden; -moz-osx-font-smoothing: grayscale; text-align: center; box-sizing: border-box; color: #37474f; border: 1px solid #3cafd6; border-radius: 30px; background: #00a0e9; color: #fff; }

.button-l, .button-l::before { -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); border-radius: 30px; }

.button-l:hover { color: #fff; border-color: #000; }

.button-l::before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #0493d4; z-index: -1; opacity: 0; -webkit-transform: scale3d(0.7, 1, 1); transform: scale3d(0.7, 1, 1); -webkit-transition: -webkit-transform .4s, opacity .4s; transition: transform .4s, opacity .4s; -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }

.button-l:hover { color: #fff; border-color: #0493d4; }

.button-l:hover::before { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.button:nth-child(2) { border-left: 0; border-right: 0; }

/*header*/
header { width: 100%; z-index: 4; transition: .5s linear all; background: #ffffff; left: 0; top: 0; width: 100%; }

header.active { background: rgba(255, 255, 255, 0.98); position: fixed; }

header.active a.menu { color: #666; }

.header { justify-content: space-between; color: #fff; align-items: center; }

.header li { position: relative; }

.header a.menu { color: #333; transition: .3s linear all; display: block; padding: 19px 0; }

.header a.menu::after { display: block; content: ''; width: 100%; height: 3px; bottom: 0; opacity: 0; transition: .3s linear all; position: absolute; left: 0; background: #4b2622; z-index: 3; }

.header a.menu:hover::after, .header li.cur a.menu::after { opacity: 1; }

.header .nav-right { width: calc(100% - 250px); justify-content: flex-end; padding-top: 4px; }

.header .nav-right ul { width: calc(100% - 20px); justify-content: space-between; }

.header .sub-menu { position: absolute; width: 170px; top: 57px; left: 50%; transform: translateX(-50%); background: #fff; text-align: center; z-index: 2; padding: 20px 0 0 0; display: none; }

.header .sub-menu a { display: block; padding: 10px 10px; transition: .3s linear all; }

.header .sub-menu a:hover, .header .sub-menu a.cur { background: #4b2622; color: #fff; }

.max1200 { max-width: 1200px; margin: 0 auto; width: 95%; }

.bgf { background: #fff; }

.padding70 { padding: 70px 0; }

.padding30 { padding: 30px; }

.just-between { justify-content: space-between; }

.form { width: 132px; border-bottom: 1px solid #e2e2e2; padding-top: 26px; margin-bottom: 10px; }

.form .search-btn { width: 97px; height: 28px; padding: 4px 0; border-radius: 0; border: 0; color: #333; }

.form .icon-search { width: 19px; height: 19px; background: url(../images/sousuo.png) no-repeat center; border: 0; }

.banner h2 { font-weight: normal; line-height: 1; }

.banner .more { width: 105px; background: #00a0e9; color: #fff; }

.banner .banner-txt { padding: 30px 0; }

.flex-ju-end { justify-content: flex-end; }

.flex-al-center { align-items: center; }

.flex-al-end { align-items: flex-end; }

.footer { background-color: #333; color: #fff; padding: 40px 0; }

.footer a { color: #fff; }

.footer .footer-left p { padding: 5px 0; }

.footer-logo { margin-top: 20px; }

/*index*/
.padding50 { padding: 50px 0; }

.padding20 { padding: 20px 0; }

.padding25 { padding: 25px; }

.about { background: url(../images/-s-about-bg.jpg) no-repeat center top; min-height: 560px; }

.btn { border-radius: 20px; border: 1px solid #522c27; color: #522c27; text-align: center; padding: 5px 20px; color: #522c27; }

.bgf7 { background: #f7f7f7; }

.item2-left { width: 36.8%; }

.item2-right { width: 61%; }

.margin-b20 { margin-bottom: 20px; }

.new-list .new-img { width: 41%; }

.new-list .new-con { width: 55%; align-content: space-between; }

.new-list .new-tag { border: 1px solid #333; padding: 2px 5px; color: #333; }

.new-list .new-desc { height: calc(100% - 60px); }

.new-list li { border-bottom: 1px solid #999; padding-bottom: 13px; margin-bottom: 13px; }

.new-list li:last-child { margin-bottom: 0; }

.caselist li { margin-bottom: 23px; }

.caselist a:hover { color: #fff; }

.caselist a { display: flex; }

.caselist.index li:nth-child(3), .caselist.index li:nth-child(4) { margin-bottom: 0; }

.case-title { height: 100px; background: url(../images/case-title-bg.png) no-repeat center; color: #fff; padding: 0 10px; position: absolute; bottom: 0; left: 0; right: 0; background-size: cover; }

.row { margin-left: -10px; margin-right: -10px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { padding-left: 10px; padding-right: 10px; }

.colorf { color: #fff; }

.banner-txt { letter-spacing: 1.5em; }

.location { position: relative; z-index: 2; margin-top: -30px; }

.location a { color: #fff; }

.location a:hover { text-decoration: underline; }

.lmenu ul.flex { flex-wrap: nowrap; }

.lmenu li a { padding: 40px 30px; display: block; transition: .3s linear all; }

.lmenu a:hover, .lmenu a.cur { background: #4b2622; color: #fff; }

.w50 { width: 50%; }

.w70 { width: 70%; margin: 0 auto; }

.culure-con { padding: 20px; width: 100%; }

.linian ul li { padding: 5px 0; }

.lineh2 { line-height: 2; }

.margin-b20 { margin-bottom: 20px; }

.flex-nowar { flex-wrap: nowrap; }

.margin0-auto { margin: 0 auto; }

.licheng-list li { position: relative; }

.licheng-list li .circle { min-height: 100px; width: 10px; position: relative; }

.licheng-list li .circle span { width: 10px; height: 10px; border-radius: 50%; border: 1px solid #4b2622; content: ''; top: 10px; position: absolute; left: 0px; background: #f7f7f7; z-index: 3; }

.licheng-list li .circle::after { position: absolute; height: 106%; width: 1px; border-left: 1px dashed #999999; content: ''; top: -3%; left: 5px; }

.licheng-list li .date { width: 80px; line-height: 1; }

.licheng-list li .desc { width: calc(100% - 180px); }

.tag-span a { margin-right: 20px; }

.tag-span a:hover, .tag-span a.cur { color: #e77817; }

.list-item { padding-right: 55px; border-bottom: 1px solid #999; }

.tag-2 { padding-left: 115px; font-size: 14px; }

.tag-2 a { margin-right: 15px; }

.tag-2 a:hover { color: #e77817; }

.page .page-prev-next { width: 70px; }

.page a { color: #000; display: inline-block; min-width: 20px; height: 20px; line-height: 20px; transition: .3s linear all; padding: 0 5px; font-size: 14px; margin: 0 3px; }

.page a:hover, .page .a.cur { background: #4b2622; color: #fff; }

.chongzhi { position: absolute; right: 0; top: 25px; }

.color { border: 1px solid #999; width: 15px; height: 15px; display: inline-block; }

.list-border .box { transition: .3s linear all; border: 2px solid  transparent; }

.list-border li:hover .box { border: 2px solid #4b2622; }

/*工程名录*/
.w123 { width: 123px; }

.minglu-list { width: calc(100% - 150px); }

.minglu-list li p { padding: 3px 0; }

.list-padding5 li { padding: 5px 0; }

.mingli-item { padding-bottom: 20px; border-bottom: 1px solid #999; margin-bottom: 20px; }

.mingli-item li a:hover { text-decoration: underline; color: #4b2622; }

.btn-ask { background: #4b2622; color: #fff; line-height: 60px; text-align: center; display: block; width: 100%; }

.w530 { max-width: 530px; margin: 0 auto; padding-right: 15px; }

.layui-form-label { width: 95px; }

.citys { width: calc(100% - 110px); margin-left: 15px; }

.w48 { width: 48%; }

.layui-btn { background: #4b2622; }

.layui-form-radio > i:hover, .layui-form-radioed > i { color: #4b2622; }

.layui-input, .layui-textarea { border-radius: 5px; }

.zhuanshi-list .col-lg-3 { margin-bottom: 20px; }

.newlist li { margin-bottom: 50px; }

.newlist .box { border: 2px solid transparent; transition: .3s linear all; overflow: hidden; }

.newlist .scale { transition: .3s linear all; }

.newlist li:hover { cursor: pointer; color: #4b2622; }

.newlist li:hover .box { border: 2px solid #4b2622; }

.newlist li:hover .scale { transform: scale(1.05); }

.newlist .news-more:hover { text-decoration: underline; }

.newlist .desc { margin: 5px 0; }

.next-prev a:hover { font-weight: bold; color: #4b2622; }

.max850 { max-width: 850px; margin: 0 auto; width: 95%; }

.yingxiao-list { margin-left: -30px; margin-right: -30px; }

.yingxiao-list li { margin-bottom: 60px; padding-left: 30px; padding-right: 30px; }

.yingxiao-list .box { box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); background: #fff; padding: 20px; border: 2px solid  transparent; }

.yingxiao-list .box p { padding: 3px 0; }

.yingxiao-list li:hover .box { border: 2px solid #4b2622; }

.list-margin-l30 { margin-left: -30px; margin-right: -30px; }

.list-margin-l30 li { padding-left: 30px; padding-right: 30px; margin-bottom: 30px; }

.btn-ask:hover { color: #fff; }

.w68 { width: 65%; }

.w58 { width: 58%; }

.w22 { width: 22%; }

.box-shadow { background: #fff; padding: 40px 20px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }

.zaixian-yinpin { padding: 12px 20px; background: #4b2622; color: #fff; }

.zaixian-yinpin:hover { color: #fff; }

.text-indent { text-indent: 2em; }

.ditu-list dl { margin-bottom: 60px; }

.ditu-list dt { position: relative; }

.ditu-list dt a { font-weight: bold; }

.ditu-list dt a::before { content: ''; position: absolute; width: 3px; height: 3px; background: #000; left: -8px; top: 12px; }

.contact-box { box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); background: #fff; }

.padding20 { padding: 20px; }

.w34 { width: 34%; }

.w66 { width: 66%; }

.block { padding-top: 15px; display: block !important; color: #333 !important; }

.block:hover { color: #333 !important; }

.text-uppercase { text-transform: uppercase; }

.gallery-top { margin-bottom: 30px; }

.gallery-thumbs .swiper-slide { background: #ccc; }

.padding-lr30 { padding-left: 30px; padding-right: 30px; }

.swiper-button-next-r, .swiper-button-next-l { width: 48px; height: 48px; position: absolute; top: 50%; transform: translateY(-50%); z-index: 3; }

.swiper-button-next-r { right: -10px; background: url(../images/jt-r.png) no-repeat center; background-size: contain; }

.swiper-button-next-l { left: -10px; background: url(../images/jt-l.png) no-repeat center; background-size: contain; }

.shebei { padding: 60px 0; }

.shebei .swiper-slide { transition: 300ms; transform: scale(0.8); }

.shebei .txt { opacity: 0; transition: .3s linear all; padding-top: 10px; }

.shebei .swiper-slide-active, .shebei .swiper-slide-duplicate-active { transform: scale(1.2); }

.shebei .swiper-slide-active img, .shebei .swiper-slide-duplicate-active img { border: 2px solid #4b2622; }

.shebei .swiper-slide-active .txt, .shebei .swiper-slide-duplicate-active .txt { opacity: 1; }

.swiper-pagination-bullet-active { background: #4b2622; }

@media (max-width: 1200px) { .fon32 { font-size: 28px; }
  .fon18 { font-size: 16px; }
  .fon30 { font-size: 24px; } }

@media (max-width: 1024px) { .fon40 { font-size: 25px; }
  .logo img { width: 190px; } }

@media (min-width: 1200px) { .header .nav-right ul { width: calc(100% - 165px); }
  .padding-li25 { margin-left: -25px; margin-right: -25px; }
  .padding-li25 li { padding-left: 25px; padding-right: 25px; margin-bottom: 50px; }
  .swiper-button-next-r { right: -60px; }
  .swiper-button-next-l { left: -60px; } }

@keyframes huang { 0% { transform: translate3d(0, 0, 0); }
  50% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); } }
